@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding: 20px 40px 40px;
  background: #e1d4c9;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 685px) {
  .wrapper {
    padding: 20px 16px 40px;
  }
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
}

[class*=__title] {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
@media only screen and (max-width: 600px) {
  [class*=__title] {
    font-size: 32px;
  }
}
[class*=__title] i {
  color: #b0907a;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}
.header__logo {
  cursor: pointer;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .showMenu {
  transform: translateX(0%);
}
.header__menu {
  display: flex;
}
.header__menu .burger__menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__menu .burger__menu {
    display: block;
  }
}
.header__menu-items {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .header__menu-items {
    flex-direction: column;
    gap: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 100px;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 100px;
    background-color: #e1d4c9;
    padding: 40px;
  }
}
.header__menu-item a {
  color: #403f3d;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.header__burger-button {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #403f3d;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #e1d4c9;
    position: relative;
  }
}
.header__burger-button .line {
  display: block;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 25px;
  transition: all 0.2s ease-in-out;
}
.header__burger-button .line:after, .header__burger-button .line:before {
  content: "";
  position: absolute;
  top: -8px;
  height: 0;
  border-bottom: 1.5px solid #403f3d;
  border-radius: 5px;
  width: 100%;
  left: 0;
  right: 0;
  transition: all ease-out 0.3s;
  transform-origin: center;
}
.header__burger-button .line:after {
  top: 0%;
}
.header__burger-button .line.active-menu:after {
  transform: rotate(-45deg);
  top: -20%;
}
.header__burger-button .line.active-menu:before {
  transform: rotate(45deg);
  top: -20%;
}
.header .menupath {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
.header .menupath:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #403f3d;
  transform-origin: bottom right;
  transition: transform 0.55s ease-in-out;
}
.header .menupath:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media only screen and (max-width: 768px) {
  .header .menupath {
    display: none;
  }
}
.header .menupath__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.header .menupath__icon {
  display: inline-block;
  margin-bottom: 5px;
}

.mainpage {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.homepage {
  display: flex;
  border-radius: 40px;
  position: relative;
  isolation: isolate;
  border-radius: 40px;
  overflow: hidden;
  background-color: #665f55;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1440px) {
  .homepage {
    padding-left: calc(16px + 84 * (100vw - 320px) / 1120);
  }
}
@media (max-width: 1440px) {
  .homepage {
    padding-right: calc(16px + 84 * (100vw - 320px) / 1120);
  }
}
@media (max-width: 1440px) {
  .homepage {
    padding-top: calc(60px + 40 * (100vw - 320px) / 1120);
  }
}
@media (max-width: 1440px) {
  .homepage {
    padding-bottom: calc(60px + 40 * (100vw - 320px) / 1120);
  }
}
.homepage__banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 40px;
}
@media only screen and (max-width: 1280px) {
  .homepage__banner {
    width: 60%;
  }
}
@media only screen and (max-width: 1065px) {
  .homepage__banner {
    width: 70%;
  }
}
@media only screen and (max-width: 914px) {
  .homepage__banner {
    width: 100%;
  }
}
.homepage__title {
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
  font-size: 72px;
}
@media only screen and (max-width: 645px) {
  .homepage__title {
    font-size: 42px;
  }
}
.homepage__title i {
  color: #b0907a;
}
.homepage__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #e1d4c9;
}
.homepage__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px 78px;
  border-radius: 100px;
  background: #e1d4c9;
  border: none;
  cursor: pointer;
  position: relative;
}
.homepage__button::after {
  content: url("./images/icons/coffee-cup.svg");
  position: absolute;
  left: 40px;
  top: 21px;
  width: 100%;
  transform: scaleX(0);
  background-color: #403f3d;
  height: 0;
  transition: transform 0.55s ease-in-out;
}
@media only screen and (max-width: 900px) {
  .homepage__button::after {
    left: 130px;
    transform: none;
  }
}
.homepage__button:hover:after {
  transform: scaleX(1);
}
.homepage__button span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
}
.homepage__button .homepage__button-icon {
  display: none;
}
.homepage__button:hover .homepage__button-icon {
  display: unset;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.favourite {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.favourite__slideshow {
  max-width: 1440px;
  width: 100%;
  position: relative;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .favourite__slideshow {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    justify-content: unset;
  }
  .favourite__slideshow::-webkit-scrollbar {
    display: none;
  }
}
.favourite .fade {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  text-align: center;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
@media only screen and (max-width: 768px) {
  .favourite .fade {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-type: x mandatory;
  }
}
@media only screen and (max-width: 600px) {
  .favourite .fade {
    width: 100%;
  }
}
.favourite .fade__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.favourite .fade__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.favourite .fade__desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
}
.favourite .fade__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.favourite .prev,
.favourite .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  user-select: none;
}
@media only screen and (max-width: 768px) {
  .favourite .prev,
  .favourite .next {
    display: none;
  }
}
.favourite .prev:hover svg,
.favourite .next:hover svg {
  fill: #665f55;
}
.favourite .prev:hover svg path,
.favourite .next:hover svg path {
  stroke: #e1d4c9;
}
.favourite .next {
  right: 0;
}
.favourite .prev {
  left: 0;
}
.favourite .slider-dots {
  display: flex;
  justify-content: center;
}
.favourite .dot {
  cursor: pointer;
  height: 4px;
  width: 40px;
  margin: 0 2px;
  background-color: #c1b6ad;
  border-radius: 100px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media only screen and (max-width: 768px) {
  .favourite .dot {
    display: none;
  }
}
.favourite .dot:hover {
  background-color: #665f55;
}
.favourite .active {
  position: relative;
  width: 40px;
  height: 4px;
  overflow: hidden;
}
.favourite .active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #665f55;
  animation-name: dot-anim;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes dot-anim {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.slider-scrollbar {
  height: 24px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: none;
}
@media only screen and (max-width: 768px) {
  .slider-scrollbar {
    display: block;
  }
}

.slider-scrollbar .scrollbar-track {
  background: #c1b6ad;
  width: 100%;
  height: 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #665f55;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  border-radius: inherit;
}

.gallery__title {
  margin-bottom: 40px;
}
.gallery__collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 390px 250px 390px;
  grid-template-areas: "first second" "first fourth" "third fourth";
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .gallery__collection {
    grid-template-columns: 1fr;
    grid-template-rows: 590px 590px;
    grid-template-areas: unset;
    gap: 40px;
  }
}
.gallery__collection .image-1 {
  grid-area: first;
}
@media only screen and (max-width: 768px) {
  .gallery__collection .image-1 {
    order: 1;
    grid-area: unset;
  }
}
.gallery__collection .image-2 {
  grid-area: third;
}
@media only screen and (max-width: 768px) {
  .gallery__collection .image-2 {
    display: none;
  }
}
.gallery__collection .image-3 {
  grid-area: second;
}
@media only screen and (max-width: 768px) {
  .gallery__collection .image-3 {
    display: none;
  }
}
.gallery__collection .image-4 {
  grid-area: fourth;
}
@media only screen and (max-width: 768px) {
  .gallery__collection .image-4 {
    order: 2;
    grid-area: unset;
  }
}
.gallery__image {
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.gallery__image:hover img {
  transform: scale(1);
}
.gallery__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
}
@media only screen and (max-width: 650px) {
  .gallery__image img {
    transform: scale(1);
  }
}

.download {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 1440px) {
  .download {
    gap: calc(50px + 50 * (100vw - 320px) / 1120);
  }
}
@media only screen and (max-width: 1030px) {
  .download {
    flex-direction: column;
  }
}
.download__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50%;
}
@media only screen and (max-width: 1030px) {
  .download__info {
    width: 100%;
  }
}
.download__info-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
}
.download__info .icons {
  width: 100%;
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 600px) {
  .download__info .icons {
    flex-direction: column;
  }
}
.download__info .icons__item {
  cursor: pointer;
  transition: all 0.5s;
}
.download__info .icons__item:hover svg {
  fill: #665f55;
}
.download__info .icons__item:hover svg path {
  fill: #b0907a;
}
.download__banner {
  width: 50%;
  display: flex;
}
@media only screen and (max-width: 1030px) {
  .download__banner {
    width: 100%;
  }
}
.download__banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: top;
}

.footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  padding: 100px;
  gap: 100px;
  background-color: #665f55;
  border-radius: 40px;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: unset;
    padding: 100px 60px;
  }
}
@media only screen and (max-width: 525px) {
  .footer {
    padding: 60px 16px;
  }
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 900px) {
  .footer__left {
    width: 100%;
  }
}
.footer__left__title {
  color: #e1d4c9;
}
.footer__left .socials {
  display: flex;
  gap: 12px;
}
.footer__left .socials__icon {
  cursor: pointer;
}
.footer__left .socials__icon:hover svg {
  fill: #e1d4c9;
}
.footer__left .socials__icon:hover svg path {
  stroke: #403f3d;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__right-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
}
.footer__right .contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__right .contacts__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__right .contacts__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
}
.footer__right .contacts .address,
.footer__right .contacts .phone {
  cursor: pointer;
  position: relative;
  width: fit-content;
}
.footer__right .contacts .address:after,
.footer__right .contacts .phone:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e1d4c9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-in-out;
}
.footer__right .contacts .address:hover:after,
.footer__right .contacts .phone:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}/*# sourceMappingURL=style.css.map */