

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    background: $background-body;
    align-items: center;
    @include adaptive-value('padding-left', 40, 16, 1);
    @include adaptive-value('padding-right', 40, 16, 1)

  }
  
  [class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;

    // @media (max-width: 1230px) {
    //   & {
    //     max-width: 1000px;
    //   }
    // }
    // @media (max-width: 1030px) {
    //   max-width: 900px;
    // }
    // @media (max-width: 900px) {
    //   max-width: 750px;
    // }
  }