

.mainpage {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .homepage {
    display: flex;
    border-radius: 40px;
    background-image: url('./images/homepage-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include adaptive-value("padding-left", 100, 60, 16);
    @include adaptive-value("padding-right", 100, 60, 16);
    @include adaptive-value("padding-top", 100, 100, 60);
    @include adaptive-value("padding-bottom", 100, 100, 60);




    &__banner {
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 40px;

    @include media(768){
      width: 100%;
    }

    }
  
    &__title {
      font-weight: 600;
      line-height: 105%;
      color: $text-light;

      @include adaptive-value('font-size', 72, 42, 1);
  
      i {
        color: $text-accent;
      }
    }
  
    &__desc {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: $text-light;
    }
  
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 20px 78px;
      border-radius: 100px;
      background: $background-body;
      border: none;
      cursor: pointer;
      position: relative;
  
      &::after {
        content: url("./images/icons/coffee-cup.svg");
        position: absolute;
        left: 40px;
        top: 21px;
        width: 100%;
        transform: scaleX(0);
        background-color: #403f3d;
        height: 0;
        transition: transform 0.55s ease-in-out;

        @include media(900){
          left: 130px;
          transform: none;
        }
      }
  
      &:hover:after {
        transform: scaleX(1);
      }
  
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        color: $text-dark;
      }
  
      .homepage__button-icon {
        display: none;
      }
  
      &:hover {
        .homepage__button-icon {
          display: unset;
        }
      }
    }
  }