* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  padding: 20px 40px 40px;
  background: #e1d4c9;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 685px) {
  .wrapper {
    padding: 20px 16px 40px;
  }
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
}

[class*=__title] {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
@media only screen and (max-width: 600px) {
  [class*=__title] {
    font-size: 32px;
  }
}
[class*=__title] i {
  color: #b0907a;
}

.header__menupath {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-bottom: 2px solid #403f3d;
}

.menu {
  margin: 20px 0 100px;
}
.menu__title {
  text-align: center;
  margin: auto;
}
.menu__buttons {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media only screen and (max-width: 565px) {
  .menu__buttons {
    gap: 8px;
  }
}
.menu__buttons-icon {
  display: flex;
  padding: 7px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #c1b6ad;
}
.menu__buttons button {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background: #e1d4c9;
  color: #403f3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu__buttons .active {
  background: #665f55;
  color: #e1d4c9;
}
.menu__buttons .unactive:hover {
  background: #665f55;
  color: #e1d4c9;
}
.menu__wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.menu__wrapper-item {
  border: 1px solid #c1b6ad;
  border-radius: 40px;
  cursor: pointer;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
@media only screen and (max-width: 1100px) {
  .menu__wrapper-item {
    width: 25%;
  }
}
@media only screen and (max-width: 885px) {
  .menu__wrapper-item {
    width: 33%;
  }
}
@media only screen and (max-width: 565px) {
  .menu__wrapper-item {
    width: 100%;
  }
}
.menu__wrapper-item:hover .menu__wrapper-image img {
  transform: scale(1);
}
.menu__wrapper-image {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.menu__wrapper-image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
}
@media only screen and (max-width: 650px) {
  .menu__wrapper-image img {
    transform: scale(1);
  }
}
.menu__wrapper-info {
  padding: 20px;
}
.menu__wrapper-subtitle, .menu__wrapper-price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.menu__wrapper-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
  margin: 12px 0;
}

.footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  padding: 100px;
  gap: 100px;
  background-color: #665f55;
  border-radius: 40px;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: unset;
    padding: 100px 60px;
  }
}
@media only screen and (max-width: 525px) {
  .footer {
    padding: 60px 16px;
  }
}
.footer__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (max-width: 900px) {
  .footer__left {
    width: 100%;
  }
}
.footer__left__title {
  color: #e1d4c9;
}
.footer__left .socials {
  display: flex;
  gap: 12px;
}
.footer__left .socials__icon {
  cursor: pointer;
}
.footer__left .socials__icon:hover svg {
  fill: #e1d4c9;
}
.footer__left .socials__icon:hover svg path {
  stroke: #403f3d;
}
.footer__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__right-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
}
.footer__right .contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__right .contacts__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__right .contacts__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
}
.footer__right .contacts .address,
.footer__right .contacts .phone {
  cursor: pointer;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__right .contacts .address:after,
.footer__right .contacts .phone:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e1d4c9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-in-out;
}
.footer__right .contacts .address:hover:after,
.footer__right .contacts .phone:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}/*# sourceMappingURL=style.css.map */